<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--查询指定物品的订单资料.-->
    <add key="quicklook" value="https://www.ceve-market.org/api/quicklook"/>
    <!--查询吉他市场基础矿物的收购最高价-->
    <add key="evemon" value="https://www.ceve-market.org/api/evemon"/>
  </appSettings>
</configuration>